@{
    ViewData["Title"] = "Sobre Nós";
}

<div class="container mt-5">
    <h2 class="mb-3">Sobre Nós</h2>
    <div class="row">
        <div class="col-md-8">
            <p class="text-justify">
                A Biblioteca Online foi fundada em 2022 com o objetivo de facilitar o acesso a livros e recursos educacionais para pessoas de todas as idades. Nosso sistema de empréstimo de livros permite que os usuários emprestem livros digitais e impressos de um vasto catálogo online. Nossa missão é promover a leitura e educação através do fácil acesso a recursos literários.
            </p>
            <p class="text-justify">
                Com uma interface amigável e um processo de empréstimo simplificado, a Biblioteca Online busca ser sua principal fonte de conhecimento literário, oferecendo um serviço de qualidade que é acessível a todos, em qualquer lugar. Estamos comprometidos em melhorar continuamente e expandir nossos serviços para atender às necessidades de nossa crescente comunidade de usuários.
            </p>
        </div>
        <div class="col-md-4">
            <img src="@Url.Content("~/img/d.jpg")" class="img-fluid" alt="Biblioteca">
        </div>
    </div>
</div>

