@{
    ViewData["Title"] = "Página Inicial";
}

<div class="d-flex justify-content-center align-items-center mb-5">
    <h1>Sistema de empréstimo de livros</h1>
</div>

<div id="livrosCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#livrosCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#livrosCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#livrosCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="@Url.Content("~/img/a.png")" class="d-block w-100 carousel-image" alt="Livro 1">
        </div>
        <div class="carousel-item">
            <img src="@Url.Content("~/img/b.jpg")" class="d-block w-100 carousel-image" alt="Livro 2">
        </div>
        <div class="carousel-item">
            <img src="@Url.Content("~/img/c.jpg")" class="d-block w-100 carousel-image" alt="Livro 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#livrosCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#livrosCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
