@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>
    <p>Este documento é a política de privacidade do nosso site de empréstimo de livros. Aqui você encontra informações sobre como coletamos, usamos e protegemos suas informações pessoais.</p>

    <h2>Coleta de Informações</h2>
    <p>Coletamos informações pessoais, como nome, endereço de email e dados de contato, quando você se registra em nosso site ou realiza um empréstimo de livro.</p>

    <h2>Uso das Informações</h2>
    <p>As informações coletadas são usadas para processar empréstimos, gerenciar sua conta e, se você concordar, enviar comunicações sobre outros livros que podem ser de seu interesse.</p>

    <h2>Segurança</h2>
    <p>Empregamos medidas de segurança robustas para proteger suas informações pessoais de acesso não autorizado, alteração, divulgação ou destruição.</p>

    <h2>Alterações na Política de Privacidade</h2>
    <p>Reservamo-nos o direito de modificar esta política de privacidade a qualquer momento, portanto, revise-a frequentemente. As alterações e esclarecimentos entrarão em vigor imediatamente após sua publicação no site.</p>

    <h2>Contato</h2>
    <p>Se você tiver qualquer dúvida sobre esta política de privacidade, por favor, entre em contato conosco através do nosso email [email@example.com].</p>
</div>
